/*
 * .Base
 *
*/

html{
    @include font_size_pro('base');
    height: 100%;
}
body{
    font-size : inherit;
    font-family : $font_family;
    height: 100%;   
    margin: 0;
    font-weight: 400;
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    &:hover{
    }
}
ul, ol{
    margin: 0 ; padding: 0;
    list-style: none;
}
h1, h2, h3, h4,
.h1, .h2, .h3, .h4{
    margin: 0;
    line-height: $l_h_head;
    font-family: $font_family_head;
    font-weight: bold;
    color: $text;
}
h1, .h1{
    @include font_size_pro('h1');
    // letter-spacing: $l_s_big;
}
h2, .h2{
    @include font_size_pro('h2');
}
h3, .h3{
    @include font_size_pro('h3');
}
h4, .h4{
    @include font_size_pro('h4');
}

p{
    margin-top: 0;
    margin-bottom: 1em;
    font-size: $fb;
    line-height: $l_h;
    font-weight: 300;

}
img{
    display: block;
    max-width: 100%; width: 100%; height: auto;
}

code {
    background-color: transparentize($black, 1-0.1);
}




.section-component {
    margin: 2 * $l_h 0;
}
