/*
 * 1. Colors
 * 2. Typo
 * 3. Borders
 * 4. Z-index
 * 5. Animations
 * 6. Fonts scale
 * 
 * 
*/


// 1. Colors
$accent: #2491dd;


// REAL Colors:

$text: #363636;
$green: #45852D;
$green_alt: #006F79;
$orange: #EC6608;
$card_bg: #F8F8F8;
$borders: #D8D8D8;

$white: #ffffff;
$black: #000000;


// 2. Typo
$l_s:  0.025em;
$l_s_neg: -0.03em;

$l_h : 1.5em;
$l_h_medium : 1.35em;
$l_h_head: 1.2em;

$font_family : "Open Sans", "Roboto",  Verdana,  Arial, sans-serif;
$font_family_head : "Open Sans", "Roboto",  Tahoma,  Arial, sans-serif;


// 3. Borders
$button_border_width: 1px;
$bd_rad: 8px;


// 4. Z-index
$zindex_icon: 100;
$zindex_nav: 200;
$zindex_sticky: 300;
$zindex_modal: 400;
$zindex_tooltip: 500;


// 5. Animations
$trns_dur: 0.4s;
$transition_duration: $trns_dur;



// 6. Fonts scale
// see _set_fonts_object.scss

$fb : 1rem;
