@charset 'utf-8';

/*
 * Table of contents   Содержание
 *
 *  0. Imports
 *  1. General Vars, Mixins, Extends

 *  14.
 *
 */


@import 'services/services'; // services and helpers functions
@import 'libs';         // external libs
@import 'fonts';        // fonts add
@import 'mwgrid';       // layout framework

@import 'vars';
@import 'mixins';
@import 'base';         // base, 

// @import 'components';   // moved to -> _base
@import 'blocks&components';   // moved to -> _base
// @import 'print';     // print v styles

// $accent: #3c9;
// $accent: #9c3;


/* 1. General, structure
 * **********************************************************************
 *  
*/


.section {

    &__footer {
        margin-top: 2.5*$l_h;
    }
}

.container {
    min-width: 300px;
}

.page-title {
    @include font_size_pro('h1');
    // line-height: $l_h_head;   // 43 h  +  48 отступ у фильтра
    line-height: $l_h_medium; // 50 h  +  43  отступ у фильтра
    font-weight: bold;
    text-align: center;
    color: $green;
}


/* 2. Header
 * **********************************************************************
 *  
*/

.header{

}
.header-top{

}
.logo{

    img{
        width: auto; max-width: 100%; height: auto;
    }
}

@media (max-width: 768px) {
   
    
} /* media end */




// 

.section-title {
    padding-top: 1.5*$l_h;
}


.section-estates {
    padding-top: 2*$l_h;
    padding-bottom: 3*$l_h;
}


// .badge {
//     padding: 1/2*$l_h_medium  1em  1/2*$l_h_medium;
//     background-color: $borders;

//     @include font_size_pro('smaller'); // 12/16
//     line-height: $l_h_medium;
//     font-weight: bold;
//     text-align: center;
//     color: $white;

//     // Mods
//     &--type--independent-living {
//         background-color: $orange;
//     }
//     &--type--support-available {
//         background-color: $green_alt;
//     }    


// }


// Test:
body {
    position: relative;

    &:after {
        display: none;
        @include pseudoelement_left_top(0, 0 );
        width: 100%;
        height: 100%;

        opacity: 0.8;


        // background: url('page.jpg') center center no-repeat; // -
        // background: url('../page.jpg') center center no-repeat;

        // background: url('./src/page.jpg') center center no-repeat;        
        // background: url('./public/page.jpg') center center no-repeat;

        // background: url('./public/page.jpg') center center no-repeat;

        // scss/page.jpg
       // background: url('page.jpg') center center no-repeat; // -
       // background: url('../../../../../page.jpg') center center no-repeat; // -
       // 
        // background: url('./public/page.jpg') center center no-repeat;

        background: url('http://malahov-web.com/demo/fuse8-demo/page.jpg')  center 0 no-repeat;
    }
}