/*
 * Extends
*/

%fullscreen{
    width: 100%; height: 100vh;    
}
%fullheight{
    position: relative; height: 100%;
}
%clearfix{
    float: left;
    width: 100%;
    &:after{

    }
}
%shadow{
    // box-shadow: 0 0 8px 0px opacify($grey_super_dark, 0.1); 
    // box-shadow: 0 0 8px 0px transparentize($grey_super_dark, 0.75); 
}


%link_with_icon{
    position: relative;

    i.themify{               
        @include pseudoelement_right_top(0, 50%);
        transform: translateY(-50%);
        font-size: 1 * $fb; font-size: 85%;
    }    
}




%transition { // +
    transition: all $transition_duration;
}
%transition_fast {
    transition: all ($transition_duration / 2);
}

%border_circle { // 
    border-radius: 50%;
}

%image_link_hover {
    opacity: 0.8;
}