// Real font sizes from Design (designer don't use modular scale)

$fonts : (

    mv_: (
        smaller: 12,
        small: 14,
        base: 15,
        h4: 16,
        h3: 18,
        h2: 22,
        h1: 26,
    ), 

    tb_: (
        smaller: 12,
        small: 14,
        base: 16,
        h4: 18,
        h3: 20,
        h2: 26,
        h1: 36,
    ), 
    ds_: (
        smaller: 12,
        small: 14,
        base: 16,
        h4: 18,
        h3: 20,
        h2: 26,
        h1: 36,
    ), 
    hd_: (
        smaller: 12,
        small: 14,
        base: 16,
        h4: 18,
        h3: 20,
        h2: 26,
        h1: 36,
    )
     
);








// @debug "Fonts array BEFORE: #{$fonts}";
// @include setFontsObject($fonts);
@debug "Fonts array AFTER: #{$fonts}";