/*
 * Component vars
 * Component and elements styles
 * Other styles (Not block elems, but associated with it)
 * Media rules - Mobile First, use min-width
 * Default states
 */

// Component
.button {    
    @extend %transition;
    @include flex(center, center);
    display: inline-flex;
    position: relative;
    width: auto; 
    font-family: $font_family;
    overflow: hidden;    
}

.button-more {
    height: calc( 2* #{$l_h} + 2* #{$button_border_width} );
    padding: 0 2em;
    border-radius: 1*$l_h;

    border: $button_border_width solid $borders;
    @include font_size_pro('base');
    line-height: $l_h;
    font-weight: bold;
    color: $text;

    // Elements  
    i {
        @include flex(center, center);
        margin-left: 0.5em;
        svg {
            path {
                @extend %transition;
            }
        }
    }

    // states 
    &:hover {
        background-color: $text;
        border-color: $text;
        color: $white;
        i {
            svg {
                path {
                    stroke: $white;
                }
            }
        }        
    }
}
